<clr-datagrid>

  <clr-dg-action-bar>
    <div class="btn-group" style="text-align: right">
      <button type="button" class="btn btn-icon btn-link" (click)="creatingExploration=true">
        <clr-icon shape="plus"></clr-icon>
        Add
      </button>
    </div>
  </clr-dg-action-bar>

  <clr-dg-placeholder>We couldn't find any explorations!</clr-dg-placeholder>

  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'exploration.date'" [clrDgSortBy]="explorationComparator">Date</clr-dg-column>
  <clr-dg-column>Location</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>

  <clr-dg-row *clrDgItems="let exploration of explorations" [clrDgItem]="exploration">
    <clr-dg-cell>{{exploration.id}}</clr-dg-cell>
    <clr-dg-cell>{{exploration.date | date: 'yyyy-MM-dd'}}</clr-dg-cell>
    <clr-dg-cell>{{exploration.location}}</clr-dg-cell>
    <clr-dg-cell class="btn-cell-datagrid">
      <div class="btn-group btn-link btn-icon">
        <button class="btn" routerLink="/explorations/{{exploration.id}}">
          <clr-icon shape="eye"></clr-icon>
          <span class="clr-icon-title">View</span>
        </button>
        <button class="btn" (click)="edit(exploration.id)">
          <clr-icon shape="cog"></clr-icon>
          <span class="clr-icon-title">Settings</span>
        </button>
        <button class="btn" (click)="delete(exploration.id)">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title">Delete</span>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="15">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} explorations
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<form ngNativeValidate #explorationForm="ngForm" (submit)="save()">
  <clr-modal [(clrModalOpen)]="editingExploration|| creatingExploration" [clrModalClosable]="false">
    <h3 class="modal-title" *ngIf="creatingExploration">Add Exploration</h3>
    <h3 class="modal-title" *ngIf="editingExploration">Edit Exploration</h3>
    <div class="modal-body">

      <section class="form-block">
        <div class="form-group">
          <label for="exploration-form-date" class="required">Date</label>
          <input type="date" id="exploration-form-date" name="date" [(ngModel)]="date" clrDate readonly required
                 #dateExploration="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="exploration-form-location" class="required">Location</label>
          <input type="text" id="exploration-form-location" name="location" [(ngModel)]="location" required
                 pattern="[a-zA-Z0-9]*"
                 title="Must be a alphanumeric" #locationExploration="ngModel"/>
        </div>

        <div class="form-group" *ngIf="creatingExploration">
          <label for="exploration-form-idspace" class="required">ID Space</label>
          <div class="content-select select">
            <select id="exploration-form-idspace" [(ngModel)]="idSpace" name="idSpace" required
                    #idSpaceExploration="ngModel" (change)="selectedIdSpace()">
              <option *ngFor="let i of idSpaces" [ngValue]="i">{{i.name}}</option>
            </select>
            <div *ngIf="idSpaceError && creatingExploration" class="alert alert-danger">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">{{idSpaceError}}</span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group" *ngIf="creatingExploration">
          <label for="exploration-form-patientToSearch" class="required">ID Patient</label>
          <div class="autocomplete">
            <input id="exploration-form-patientToSearch" type="text" (keyup)="filterPatient()" name="patientIdStartsWith" [(ngModel)]="patientIdStartsWith"
                   autocomplete="off"
            />
            <div *ngIf="!selectedPatientId" class="autocomplete-items">
              <input class="inputAutocomplete" value="{{patient.patientID}}" *ngFor="let patient of patientsFound"
                     (click)="selectedPatient(patient)"
              />
            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="dateExploration.invalid || locationExploration.invalid || (!patientIdAreCorrect() && creatingExploration) ">
        Ok
      </button>
    </div>
  </clr-modal>
</form>
