.btn-cell-datagrid {
  padding: 0%;
}

:host /deep/ .modal-body {
  overflow: visible !important;
}

.content-select {
  width: 55%;
}

.btn-add {
  margin-right: 1.75%;
  margin-left: auto;
}

.alert {
  padding: 1%;
}
