.btn-cell-datagrid {
  padding: 0%;
}

:host /deep/ .modal-body {
  overflow: visible !important;
}

.content-select {
  width: 70%;
}

.btn-add {
  float: right;
  margin-right: 1.75%;
  margin-left: auto;
}

.alert {
  padding: 1%;
}

form > .content-search {
  margin-top: -0.5rem;
}

.content-search h4 {
  margin-bottom: 0.5rem;
}

.complete-space {
  width: 100%;
}

@media (min-width: 992px) {
  .content-search .btn {
    margin-left: 0.5rem;
  }

  .btn-search {
    margin-left: 0rem !important;
    margin-top: -0.5rem;
  }
}
