<h1>Explorations</h1>
<p-fieldset legend="Exploration data">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <label>Patient:</label>
        <p-dropdown placeholder="Select a ambit" [options]="ambit" [(ngModel)]="selectedAmbit" optionLabel="name"></p-dropdown>
        <input type="text" pInputText [disabled]="true" placeholder="id" />
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <label>Date:</label>
        <input id="date" type="text" pInputText [disabled]="true" placeholder="15/06/1988" />
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <label>Ubicación:</label>
        <input id="location" type="text" pInputText [disabled]="true" placeholder="Location" />
      </div>
    </div>

  </div>

</p-fieldset>

<p-tabView>
  <p-tabPanel header="Video">
    <p-dataView [value]="videos">
      <ng-template let-videos pTemplate="listItem">

        <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <img src="{{videos.url}}" width="100%" height="100%">
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="ui-g">
              <div class="ui-g-4 ui-sm-6">Id: </div>
              <div class="ui-g-8 ui-sm-6">
                <b>{{videos.id}}</b>
              </div>

              <div class="ui-g-4 ui-sm-6">Title: </div>
              <div class="ui-g-8 ui-sm-6">
                <b>{{videos.title}}</b>
              </div>

              <div class="ui-g-4 ui-sm-6">Observation: </div>
              <div class="ui-g-8 ui-sm-6">
                <b>{{videos.observation}}</b>
              </div>
              <div class="ui-g-12">
                <button pButton type="button" label="Edit" class="ui-button"></button>
              </div>

            </div>
          </div>
          <div class="ui-g-12 ui-md-12 ui-md-offset-6 ui-lg-4 ui-lg-offset-0">
            <div class="ui-g-12">
              <button pButton type="button" label="Edit video" class="ui-button"></button>
            </div>
            <div class="ui-g-12">
              <button pButton type="button" label="Upload" class="ui-button"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
  <p-tabPanel header="Polyp">
    <div class="ui-g">
      <button pButton type="button" label="New" class="ui-button"></button>
    </div>
    <div *ngFor="let polyp of polyps" id="polyp-list">
      <p-card>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-offset-8 ui-lg-offset-8">
            ID: {{polyp.id}}
            <p-button class="delete-button" icon="fa fa-fw fa-close" ></p-button>
          </div>
          <div class="ui-g-12">Name: {{polyp.name}}</div>
          <div class="ui-g-6 ui-sm-12">Size: {{polyp.size}}</div>
          <div class="ui-g-6 ui-sm-12">Location: {{polyp.location}}</div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            NICE: {{polyp.nice}}
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            WASP: {{polyp.wasp}}
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            LST: {{polyp.lst}}
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            Paris: {{polyp.paris}}
          </div>
          <div class="ui-g-4 ui-sm-12" class="histology">
            <p-dropdown placeholder="Select a histology" [options]="histology" [(ngModel)]="selectedHistology" optionLabel="name"></p-dropdown>
          </div>
          <div class=" ui-g-12">
            <p-panel header="Views " [toggleable]="true" collapsed="false">
              <div *ngFor="let video of polyp.videos ">
                <div class="ui-g">
                  <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <img src="{{video.url}} " width="100% " height="100% ">
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-4">
                    <p>{{video.title}}</p>
                    <p>Init: 23:10</p>
                    <p>Fin: 24:00</p>
                  </div>
                  <div class="ui-g-6 ui-md-4 ui-lg-4">
                    <div class="ui-g-12">
                      <button pButton type="button" label="Edit" class="ui-button"></button>
                    </div>
                    <div class="ui-g-12">
                      <button pButton type="button" label="Play" class="ui-button"></button>
                    </div>
                  </div>
                </div>
              </div>
            </p-panel>
          </div>
        </div>
      </p-card>
    </div>
  </p-tabPanel>
</p-tabView>