<form #modifierVideoForm="ngForm" ngNativeValidate (submit)="addVideoModification()">
  <div class="form-group row">
    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5">
      <label for="modifier-name" class="required">Modifier</label>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-5">
      <div class="select">
        <select id="modifier-name" [(ngModel)]="selectedModifier" name="selectedModifier" required
                #modifier="ngModel">
          <option *ngFor="let m of modifiers" [ngValue]="m">{{m.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5">
      <label for="modifierVideo-start" class="required">Start</label>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-5">
      <input id="modifierVideo-start" type="text" name="start" [(ngModel)]="start" class="input-timer"
             required #startModifierForm="ngModel"/>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <button type="button" (click)="startInterval()" class="btn btn-icon">
        <clr-icon shape="clock"></clr-icon>
      </button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5">
      <label for="modifierVideo-end" class="required">Stop</label>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-5">
      <input id="modifierVideo-end" type="text" name="end" [(ngModel)]="end" class="input-timer"
             required #endModifierForm="ngModel"/>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <button type="button" (click)="endInterval()" class="btn btn-icon">
        <clr-icon shape="clock"></clr-icon>
      </button>
    </div>
  </div>

  <button type="submit" class="btn btn-primary"
          [disabled]="!timesAreCorrect() || modifier.invalid || startModifierForm.invalid || endModifierForm.invalid"
  >
    <clr-icon shape="plus"></clr-icon>
    Add
  </button>
</form>
<div class="videomodifiers-container">
  <clr-datagrid>
    <clr-dg-column>Modifier</clr-dg-column>
    <clr-dg-column>Start</clr-dg-column>
    <clr-dg-column>Stop</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *ngFor="let videoModification of videoModifications">
      <clr-dg-cell>{{videoModification.modifier.name}}</clr-dg-cell>
      <clr-dg-cell>{{videoModification.start | time}}</clr-dg-cell>
      <clr-dg-cell>{{videoModification.end | time}}</clr-dg-cell>
      <clr-dg-cell>
        <button type="button" class="btn btn-success-outline"
                (click)="playInterval(videoModification.start, videoModification.end)">
          <clr-icon shape="play"></clr-icon>
          Play
        </button>
        <button type="button" class="btn btn-danger-outline" (click)="remove(videoModification)">
          <clr-icon shape="times"></clr-icon>
          Remove
        </button>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{videoModifications.length}} modifiers</clr-dg-footer>
  </clr-datagrid>
</div>
<!-- Delete confirmation modal -->
<app-delete-confirmation *ngIf="deletingVideoModification" [modelName]="'video modifier'" [id]="videoModification"
                         [name]="videoModification.modifier.name"
                         [cancel]="cancel.bind(this)" [delete]="removeVideoModification.bind(this)">
</app-delete-confirmation>
