<div class="toolbar">
  <button type="button" class="btn btn-icon btn-link" (click)="creatingPolyp = true">
    <clr-icon shape="plus"></clr-icon>
    New
  </button>
</div>

<div class="card" *ngFor="let polyp of exploration.polyps">
  <div class="card-header">
    ID: {{polyp.id}}
    <button type="button" class="btn btn-link card-button" title="Delete polyp" (click)="delete(polyp.id)">
      <clr-icon shape="trash"></clr-icon>
    </button>
    <button type="button" class="btn btn-link card-button" title="Edit polyp" (click)="editPolyp(polyp.id)">
      <clr-icon shape="cog"></clr-icon>
    </button>
  </div>
  <div class="card-block">
    <div class="card-title">
      <form>
        <section class="form-block">

          <div class="form-group row">
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-name">Name</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-name" readonly value="{{polyp.name}}"/>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-size">Size</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-size" readonly value="{{polyp.size}}"/>
            </div>

            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-location">Location</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-location" readonly value="{{polyp.location}}"/>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-histology">Histology</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-histology" readonly value="{{polyp.histology}}"/>
            </div>

            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-nice">NICE</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-nice" readonly value="{{polyp.nice}}"/>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-wasp">WASP</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-wasp" readonly value="{{polyp.wasp}}"/>
            </div>

            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-lst">LST</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-lst" readonly value="{{polyp.lst}}"/>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <label class="txt-strong" for="video-paris">PARIS</label>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-8">
              <input type="text" id="video-paris" readonly value="{{polyp.paris}}"/>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>

  <clr-tree-node>
    Views
    <ng-template [clrIfExpanded]>
      <clr-tree-node>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let polypRecording of polyp.polypRecordings ">
            <div class="card">
              <div class="card-block">
                <video id="{{polypRecording.video.id}}-{{polypRecording.polyp.id}}" class="exploration-video"
                       (click)="pauseVideo(polypRecording.video.id, polypRecording.polyp.id)">
                  <source *ngFor="let source of polypRecording.video.sources"
                          src="{{source.url}}"
                          type="{{source.mediaType}}"/>
                  <p>Your browser does not support the video tag.</p>
                </video>
                <div id="controls-{{polypRecording.video.id}}-{{polypRecording.polyp.id}}" class="controls-overlay">
                  <button id="playVideo" title="play video" class="btn btn-link btn-overlay"
                          (click)="playVideo(polypRecording.video.id, polypRecording.polyp.id)">
                    <clr-icon shape="play" size="30"></clr-icon>
                    Play
                  </button>
                  <button type="button" title="edit video" class="btn btn-link btn-overlay"
                          routerLink="/video/{{polypRecording.video.id}}">
                    <clr-icon shape="video-gallery" size="30"></clr-icon>
                    Edit
                  </button>
                </div>
                <div class="card-text">
                  <p>Title: {{polypRecording.video.title}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </clr-tree-node>
    </ng-template>
  </clr-tree-node>

</div>
<form ngNativeValidate (submit)="save()">
  <clr-modal [(clrModalOpen)]="editingPolyp|| creatingPolyp" [clrModalClosable]="false">

    <h3 class="modal-title" *ngIf="creatingPolyp">Add polyp</h3>
    <h3 class="modal-title" *ngIf="editingPolyp">Edit polyp</h3>
    <div class="modal-body">

      <section class="form-block">
        <div class="form-group">
          <label for="polyp-form-name" class="required">Name</label>
          <input type="text" id="polyp-form-name" name="name" [(ngModel)]="polyp.name" required>
        </div>
        <div class="form-group">
          <label for="polyp-form-size">Size</label>
          <input type="text" id="polyp-form-size" name="size" [(ngModel)]="polyp.size" pattern="[0-9]*"
                 title="Must be a number">
        </div>
        <div class="form-group">
          <label for="polyp-form-location">Location</label>
          <input type="text" id="polyp-form-location" name="location" [(ngModel)]="polyp.location" pattern="[a-zA-Z]*"
                 title="Must be a alphabetic">
        </div>
        <div class="form-group">
          <label for="polyp-form-histology">Histology</label>
          <input type="text" id="polyp-form-histology" name="histology" [(ngModel)]="polyp.histology">
        </div>

        <div class="form-group">
          <label for="polyp-form-wasp">WASP</label>
          <div class="select">
            <select id="polyp-form-wasp" [(ngModel)]="polyp.wasp" name="wasp">
              <option *ngFor="let w of WASPValues" [ngValue]="w">{{w}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="polyp-form-nice">NICE</label>
          <div class="select">
            <select id="polyp-form-nice" [(ngModel)]="polyp.nice" name="nice">
              <option *ngFor="let n of NICEValues" [ngValue]="n">{{n}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="polyp-form-lst">LST</label>
          <div class="select">
            <select id="polyp-form-lst" [(ngModel)]="polyp.lst" name="lst">
              <option *ngFor="let l of LSTValues" [ngValue]="l">{{l}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="polyp-form-paris">PARIS</label>
          <div class="select">
            <select id="polyp-form-paris" [(ngModel)]="polyp.paris" name="paris">
              <option *ngFor="let p of PARISValues" [ngValue]="p">{{p}}</option>
            </select>
          </div>
        </div>

      </section>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Ok</button>
    </div>

  </clr-modal>
</form>
