<div *ngIf="gallery">
  <div class="card">
    <div class="card-header">
      Gallery data
    </div>

    <div class="card-block">
      <section class="form-block">
        <table class="table">
          <tbody>
          <tr>
            <td class="left">Title</td>
            <td class="left">{{gallery.title}}</td>
          </tr>
          <tr>
            <td class="left">Description</td>
            <td class="left">{{gallery.description}}</td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>

    <div class="gallery-container">
      <div *ngFor="let image of gallery.images">
        <div class="gallery-item">
          <a routerLink="/image/{{image.id}}">
            <img [src]="'data:image/png;base64,' + image.base64contents | safehtml">
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
