.gallery-container {
  width: 100%;
  overflow: hidden;
}

.gallery-item {
  float: left;
  width: 97%;
  margin: 1% 2% 10px 1%;
}

.gallery-item img {
  max-width: 100%;
  cursor: pointer;
}

canvas {
  width: 100%;
  border: 1px solid #000000;
}

@media (min-width: 576px) {
  .gallery-item {
    width: 47%;
  }
}

@media (min-width: 992px) {
  .gallery-item {
    width: 30%;
  }
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

:host /deep/ .datagrid-placeholder-image {
  background-image: none !important;
}

.datagrid-host {
  margin-bottom: 1%;
}
