<div class="row">
  <button type="button" class="btn-add btn btn-primary" (click)="creatingPatient = true">
    <clr-icon shape="plus"></clr-icon>
    Add patient
  </button>
</div>
<form ngNativeValidate #patientForm="ngForm" (submit)="save()">
  <clr-modal [(clrModalOpen)]="creatingPatient || editingPatient" [clrModalClosable]="false">
    <h3 class="modal-title" *ngIf="creatingPatient">Add Patient</h3>
    <h3 class="modal-title" *ngIf="editingPatient">Edit Patient</h3>
    <div class="modal-body">

      <section class="form-block">
        <div class="form-group">
          <label for="patient-form-idspace" class="required">ID Space</label>
          <div class="select complete-space">
            <select id="patient-form-idspace" [(ngModel)]="idSpace" name="idSpace" required #idSpacePatient="ngModel">
              <option *ngFor="let i of idSpaces" [ngValue]="i">{{i.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="patient-form-patientID" class="required">ID Patient</label>
          <input type="text" id="patient-form-patientID" name="patientID" [(ngModel)]="patientID" required
                 #patientIDPatient="ngModel" class="complete-space"
          />
        </div>
        <div class="form-group">
          <label for="patient-form-sex" class="required">Sex</label>
          <div class="select complete-space">
            <select id="patient-form-sex" [(ngModel)]="sex" name="sex" required #sexPatient="ngModel">
              <option *ngFor="let s of SEXValues" [ngValue]="s">{{s}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="patient-form-birthdate" class="required">Birthdate</label>
          <input type="date" id="patient-form-birthdate" name="birthdate" [(ngModel)]="birthdate" clrDate required
                 readonly #birthdatePatient="ngModel" class="complete-space"
          />
        </div>
      </section>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="patientIDPatient.invalid || sexPatient.invalid || birthdatePatient.invalid || idSpacePatient.invalid">
        Ok
      </button>
    </div>
  </clr-modal>
</form>


<section>
  <form ngNativeValidate #patientSearch="ngForm" (submit)="findPatientID()" class="compact">
    <div class="card">
      <div class="card-header">Find a patient</div>
      <div class="card-block">
        <section class="form-block">
          <table class="table">
            <tbody>
            <tr>
              <td class="left"><label for="patient-form-search-idspace" class="required">ID Space</label></td>
              <td class="left">
                <div class="select complete-space">
                  <select id="patient-form-search-idspace" [(ngModel)]="idSpaceToFind" name="idSpaceToFind"
                          required
                          #idSpaceFind="ngModel">
                    <option *ngFor="let i of idSpaces" [ngValue]="i">{{i.name}}</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td class="left"><label class="required" for="patient-form-search-patientID">ID Patient</label></td>
              <td class="left">
                <input type="text" id="patient-form-search-patientID" name="patientIDText" [(ngModel)]="patientIDText"
                       required
                       #patientIDFind="ngModel" class="complete-space">
              </td>
            </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary btn-sm"
                  [disabled]="patientIDFind.invalid || idSpaceFind.invalid">
            <clr-icon shape="search"></clr-icon>
          </button>
        </section>
      </div>
    </div>
  </form>
</section>

<div *ngIf="patient">
  <table class="table table-vertical">
    <tbody>
    <tr>
      <th>ID Space</th>
      <td>{{patient.idSpace.name}}</td>
    </tr>
    <tr>
      <th>ID Pacient</th>
      <td>{{patient.patientID}}</td>
    </tr>
    <tr>
      <th>Sex</th>
      <td>{{patient.sex}}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{patient.birthdate | age}}</td>
    </tr>
    <tr>
      <th>Actions</th>
      <td class="btn-td-table">
        <div class="btn-group btn-link btn-icon">
          <button class="btn" (click)="edit()">
            <clr-icon shape="cog"></clr-icon>
            <span class="clr-icon-title">Settings</span>
          </button>
          <button class="btn" (click)="delete()">
            <clr-icon shape="trash"></clr-icon>
            <span class="clr-icon-title">Delete</span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
