:host /deep/ .modal-body {
  overflow: visible !important;
}

.btn-sm {
  margin-top: .25rem !important;
  float: right;
  margin-right: 0px;
}

.btn-td-table {
  padding: 0px;
}

.complete-space {
  width: 90%;
}

.card {
  margin-top: 0rem !important;
}

.table {
  border-spacing: 2px;
}
