<div *ngIf="exploration!= null">
  <div class="card">
    <div class="card-header">
      Exploration data
    </div>
    <div class="card-block">
      <section class="form-block">
        <table class="table">
          <tbody>
          <tr>
            <td class="left">Sex</td>
            <td class="left">{{exploration.patient.sex}}</td>
          </tr>
          <tr>
            <td class="left">Age</td>
            <td class="left">{{exploration.patient.birthdate | age}}</td>
          </tr>
          <tr>
            <td class="left">Exploration date</td>
            <td class="left">{{exploration.date | date: 'yyyy-MM-dd'}}</td>
          </tr>
          <tr>
            <td class="left">Location</td>
            <td class="left">{{exploration.location}}</td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="tab-videos">Videos</button>
          <clr-tab-content id="content1" *clrIfActive="true">
            <div class="toolbar">
              <button type="button" class="btn btn-icon btn-link" (click)="userUploadingVideo = true">
                <clr-icon shape="upload"></clr-icon>
                Upload
              </button>
            </div>
            <clr-datagrid>
              <clr-dg-column>Video</clr-dg-column>
              <clr-dg-column>Information</clr-dg-column>
              <clr-dg-row *ngFor="let video of exploration.videos">
                <clr-dg-cell>
                  <video class="exploration-video" controls *ngIf="video.isProcessing == false">
                    <source *ngFor="let source of video.sources" src="{{source.url}}" type="{{source.mediaType}}"/>
                    Your browser does not support the video tag.
                  </video>
                  <div *ngIf="video.isProcessing">
                    <img *ngIf="video.isProcessing" src="assets/images/loading.gif"> Video is being processed
                  </div>
                </clr-dg-cell>
                <clr-dg-cell class="not-scroll">
                  <form>
                    <div class="form-group row ">
                      <div class="col-md-12 col-lg-4">
                        <label for="video-uuid">UUID</label>
                      </div>
                      <div class="col-md-12 col-lg-8">
                        <input type="text" id="video-uuid" size="36" readonly value="{{video.id}}"/>
                      </div>
                    </div>
                    <div class="form-group row ">
                      <div class="col-md-12 col-lg-4">
                        <label for="video-title">Title</label>
                      </div>
                      <div class="col-md-12 col-lg-8">
                        <input type="text" id="video-title" class="title-{{video.id}}" size="50"
                               [readonly]="isReadonly ? true : null" value="{{video.title}}"/>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 col-lg-4">
                        <label for="video-observations">Observation</label>
                      </div>
                      <div class="col-md-12 col-lg-8">
                        <textarea type="text" id="video-observations" class="observations-{{video.id}}" rows="4"
                                  [readonly]="isReadonly ? true : null" value="{{video.observations}}"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <button type="button" class="btn btn-secondary" *ngIf="isReadonly" (click)="isReadonly=false">
                        <clr-icon shape="note"></clr-icon>
                        Edit information
                      </button>
                      <button type="button" class="btn btn-primary" *ngIf="!isReadonly" (click)="editVideo(video)">
                        <clr-icon shape="cog"></clr-icon>
                        Save information
                      </button>
                      <button type="button" class="btn btn-secondary" routerLink="/video/{{video.id}}" [disabled]="video.isProcessing" >
                        <clr-icon shape="video-gallery"></clr-icon>
                        Edit video
                      </button>
                      <button type="button" class="btn btn-secondary" (click)="delete(video.id)" [disabled]="video.isProcessing" >
                        <clr-icon shape="trash"></clr-icon>
                        Remove video
                      </button>
                    </div>

                  </form>
                </clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink id="tab-polyps">Polyps</button>
          <clr-tab-content *clrIfActive>
            <app-polyp [exploration]="exploration"></app-polyp>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>

    </div>
  </div>
  <form enctype="multipart/form-data" ngNativeValidate (submit)="uploadVideo()">
    <clr-modal [(clrModalOpen)]="userUploadingVideo">
      <h3 class="modal-title">Upload Video</h3>
      <div class="modal-body">
        <section class="form-block">
          <div class="form-group">
            <label for="video-form-title">Title</label>
            <input type="text" id="video-form-title" [(ngModel)]="newVideo.title" name="title"/>
          </div>
          <div class="form-group">
            <label for="video-form-observations">Observations</label>
            <textarea type="text" id="video-form-observations" rows="4" [(ngModel)]="newVideo.observations"
                      name="observations"></textarea>
          </div>
          <div class="form-group">
            <label for="video-form-file" class="required">File</label>
            <input *ngIf="userUploadingVideo" type="file" id="video-form-file" required/>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </clr-modal>
  </form>
</div>
