<div class="card">
  <div class="card-header">
    Exploration data
  </div>
  <div class="card-block">
    <form>
      <section class="form-block">

        <div class="form-group">
          <label for="patient-id">Patient</label>
          <div class="select">
            <select id="patient-realm">
              <option value="" disabled selected>&lt;Realm&gt;</option>
              <option *ngFor="let aAmbit of ambit">{{aAmbit.name}}</option>
            </select>
          </div>
          <input type="text" id="patient-id" size="50" placeholder="Patient identifier" />
        </div>

        <div class="form-group">
          <label for="exploration-date">Exploration date</label>
          <input type="date" id="exploration-date" readonly value="{{exploration.date | date: 'yyyy-MM-dd'}}"/>
        </div>

        <div class="form-group">
          <label for="exploration-location">Location</label>
          <input type="text" id="exploration-location" size="60" readonly value="{{exploration.location}}" />
          <clr-icon shape="map-marker"></clr-icon>
        </div>
      </section>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink id="tab-videos">Videos</button>
        <clr-tab-content id="content1" *clrIfActive="true">
          <div class="toolbar">
            <button type="button" class="btn btn-icon btn-link" (click)="userUploadingVideo = true">
              <clr-icon shape="upload"></clr-icon> Upload
            </button>
          </div>
          <clr-datagrid>
            <clr-dg-column>Video</clr-dg-column>
            <clr-dg-column>Information</clr-dg-column>
            <clr-dg-row *ngFor="let video of exploration.videos">
              <clr-dg-cell>
                <video class="exploration-video" controls *ngIf="video.isProcessing == false">
                  <source *ngFor="let source of video.sources" src="{{source.url}}" type="{{source.mediaType}}" />
                  Your browser does not support the video tag.
                </video>
                <div *ngIf="video.isProcessing"><img *ngIf="video.isProcessing" src="assets/images/loading.gif"> Video is being processed</div>
              </clr-dg-cell>
              <clr-dg-cell>
                <form>
                  <section class="form-block">
                    <div class="form-group">
                      <label for="video-uuid">UUID</label>
                      <input type="text" id="video-uuid" size="36" readonly value="{{video.id}}" />
                    </div>
                    <div class="form-group">
                      <label for="video-title">Title</label>
                      <input type="text" id="video-title" size="50" readonly value="{{video.title}}" />
                    </div>
                    <div class="form-group">
                      <label for="video-observation">Observation</label>
                      <textarea type="text" id="video-observation" rows="4" readonly value="{{video.observation}}"></textarea>
                    </div>
                  </section>
                  <button type="button" class="btn btn-secondary">
                    <clr-icon shape="note"></clr-icon> Edit information
                  </button>
                  <button type="button" class="btn btn-secondary" routerLink="/video/{{video.id}}">
                    <clr-icon shape="video-gallery"></clr-icon> Edit video
                  </button>
                </form>
              </clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="tab-polyps">Polyps</button>
        <clr-tab-content *clrIfActive>
          <app-polyp></app-polyp>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>

  </div>
</div>
<clr-modal [(clrModalOpen)]="userUploadingVideo">
  <h3 class="modal-title">Upload Video</h3>
  <div class="modal-body">
      <form enctype="multipart/form-data">
        <section class="form-block">
          <div class="form-group">
            <label for="video-form-title" >Title</label>
            <input type="text" id="video-form-title" [(ngModel)]="newVideo.title" name="title"/>
          </div>
          <div class="form-group">
              <label for="video-form-observations" >Observations</label>
            <textarea type="text" id="video-form-observations" rows="4" [(ngModel)]="newVideo.observation" name="observation"></textarea>
          </div>
          <div class="form-group">
              <label for="video-form-file">File</label>
              <input type="file" id="video-form-file" />
          </div>
        </section>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="userUploadingVideo = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="uploadVideo()">Ok</button>
  </div>
</clr-modal>