<div *ngIf="exploration!= null">
  <div class="card">
    <div class="card-header">
      Exploration data
    </div>
    <div class="card-block">
      <section class="form-block">
        <table class="table">
          <tbody>
          <tr>
            <td class="left">Title</td>
            <td class="left">{{exploration.title}}</td>
          </tr>
          <tr>
            <td class="left">Exploration date</td>
            <td class="left">{{exploration.date | date: 'yyyy-MM-dd'}}</td>
          </tr>
          <tr>
            <td class="left">Location</td>
            <td class="left">{{exploration.location}}</td>
          </tr>
          <tr>
            <td class="left">Sex</td>
            <td class="left">{{exploration.patient.sex}}</td>
          </tr>
          <tr>
            <td class="left">Age</td>
            <td class="left">{{exploration.patient.birthdate | age}}</td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="tab-videos">Videos</button>
          <clr-tab-content id="content1" *clrIfActive="true">
            <div class="toolbar">
              <button type="button" class="btn btn-icon btn-link" (click)="userUploadingVideo = true">
                <clr-icon shape="upload"></clr-icon>
                Upload
              </button>
            </div>
            <clr-datagrid>
              <clr-dg-column>Video</clr-dg-column>
              <clr-dg-column>Information</clr-dg-column>
              <clr-dg-row *ngFor="let video of exploration.videos">
                <clr-dg-cell>
                  <video class="exploration-video" controls *ngIf="video.isProcessing == false">
                    <source *ngFor="let source of video.sources" src="{{source.url}}" type="{{source.mediaType}}"/>
                    Your browser does not support the video tag.
                  </video>
                  <div *ngIf="video.isProcessing">
                    <img *ngIf="video.isProcessing" src="assets/images/loading.gif"> Video is being processed
                  </div>
                </clr-dg-cell>
                <clr-dg-cell class="not-scroll">
                  <form>
                    <div class="form-group row ">
                      <div class="col-md-12 col-lg-4">
                        <label for="video-title">Title</label>
                      </div>
                      <div class="col-md-12 col-lg-8">
                        <input type="text" id="video-title" class="title-{{video.id}}" size="50"
                               [readonly]="editingVideo == video.id ? null : true" value="{{video.title}}"/>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 col-lg-4">
                        <label for="video-observations">Observation</label>
                      </div>
                      <div class="col-md-12 col-lg-8">
                        <textarea type="text" id="video-observations" class="observations-{{video.id}}" rows="4"
                                  [readonly]="editingVideo == video.id ? null : true"
                                  value="{{video.observations}}"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 col-lg-4">
                      </div>
                      <div class="col-md-12 col-lg-8">
                        <label class="label-check"><input type="checkbox" name="withText" class="withText-{{video.id}}"
                                                          [(ngModel)]="video.withText"
                                                          [disabled]="editingVideo == video.id ? null : true"/>
                          Video with text</label>
                      </div>
                    </div>
                    <div class="form-group row">
                      <button type="button" class="btn btn-secondary" *ngIf="isReadonly || video.id !== editingVideo"
                              (click)="selectedVideo(video)">
                        <clr-icon shape="note"></clr-icon>
                        Edit information
                      </button>
                      <button type="button" class="btn btn-primary" *ngIf="!isReadonly && video.id == editingVideo"
                              (click)="editVideo(video)">
                        <clr-icon shape="cog"></clr-icon>
                        Save information
                      </button>
                      <button type="button" class="btn btn-secondary" routerLink="/video/{{video.id}}"
                              [disabled]="video.isProcessing">
                        <clr-icon shape="video-gallery"></clr-icon>
                        Edit video
                      </button>
                      <button type="button" class="btn btn-secondary" (click)="remove(video.id)"
                              [disabled]="video.isProcessing">
                        <clr-icon shape="trash"></clr-icon>
                        Remove video
                      </button>
                    </div>

                  </form>
                </clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink id="tab-polyps">Polyps</button>
          <clr-tab-content *clrIfActive>
            <app-polyp [exploration]="exploration"></app-polyp>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
  <form enctype="multipart/form-data" ngNativeValidate (submit)="uploadVideo(); uploadingVideo = true">
    <clr-modal [(clrModalOpen)]="userUploadingVideo">
      <h3 class="modal-title">Upload Video</h3>
      <div class="modal-body">
        <section class="form-block">
          <div class="form-group">
            <label for="video-form-title">Title</label>
            <input type="text" id="video-form-title" [(ngModel)]="video.title" name="title"/>
          </div>
          <div class="form-group">
            <label for="video-form-observations">Observations</label>
            <textarea type="text" id="video-form-observations" rows="4" [(ngModel)]="video.observations"
                      name="observations"></textarea>
          </div>
          <div class="form-group">
            <label for="video-form-file" class="required">File</label>
            <input *ngIf="userUploadingVideo" type="file" id="video-form-file" required/>
          </div>
          <div class="form-group">
            <clr-checkbox name="withText" id="video-form-withText" [(ngModel)]="video.withText">
              Video with text
            </clr-checkbox>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </clr-modal>
  </form>
</div>
<!-- Delete confirmation modal -->
<app-delete-confirmation *ngIf="deletingVideo" [modelName]="'video'" [id]="video.id" [name]="video.title"
                         [cancel]="cancel.bind(this)" [delete]="delete.bind(this)">
</app-delete-confirmation>

<!-- Progress bar modal -->
<clr-modal [(clrModalOpen)]="uploadingVideo" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h5 class="modal-title">Upload video: "{{video.title}}"</h5>
  <div class="modal-body">
    <div class="progress labeled">
      <progress max="100" value="{{progress}}" [attr.data-displayval]="progress + '%'"></progress>
      <span>{{progress}}%</span>
    </div>
    <div class="row">
      <div *ngIf="uploadTimeRemaining <= 60" class="col-md-8">Remaining time: {{uploadTimeRemaining | number:'.1-2'}}
        second(s)
      </div>
      <div *ngIf="uploadTimeRemaining > 60" class="col-md-8">Remaining time: {{uploadTimeRemaining/60 | number:'.1-2'}}
        minute(s)
      </div>
      <div class="col-md-4">Upload speed: {{uploadSpeed | number:'.1-2'}} MB/s</div>
    </div>
  </div>
</clr-modal>

