.txt-strong{
    font-weight: bold;
}
@media (min-width: 768px) { 
    .delete-button {
        float: right;
    }    
}

.toolbar {
    text-align: right;
}

.exploration-video{
    width: 100%;
}
:host /deep/ .clr-treenode-children{
    margin-left: 0% !important;
}