<div class="row">
  <button type="button" class="btn-add btn btn-primary" (click)="creatingIdSpace=true">
    <clr-icon shape="plus"></clr-icon>
    Add ID Space
  </button>
</div>


<form ngNativeValidate #idSpaceForm="ngForm" (submit)="save()">
  <clr-modal [(clrModalOpen)]="creatingIdSpace" [clrModalClosable]="false">
    <h3 class="modal-title" *ngIf="creatingExploration">Add ID Space</h3>
    <div class="modal-body">

      <section class="form-block">
        <div class="form-group">
          <label for="exploration-form-name" class="required">Name</label>
          <input type="text" id="exploration-form-name" name="name" [(ngModel)]="idSpace.name" required
                 pattern="[a-zA-Z0-9\s]+" title="Must be a alphanumeric" #nameIdSpace="ngModel"
          />
        </div>
      </section>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="nameIdSpace.invalid ">
        Ok
      </button>
    </div>
  </clr-modal>
</form>

<clr-datagrid>

  <clr-dg-placeholder>We couldn't find any ID Space!</clr-dg-placeholder>

  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>

  <clr-dg-row *clrDgItems="let idSpace of idSpaces">
    <clr-dg-cell>{{idSpace.id}}</clr-dg-cell>
    <clr-dg-cell>{{idSpace.name}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-link btn-icon">
        <button class="btn">
          <clr-icon shape="cog"></clr-icon>
          <span class="clr-icon-title">Settings</span>
        </button>
        <button class="btn">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title">Delete</span>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="15">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} ID Spaces
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
