<div class="row">
  <button type="button" class="btn-add btn btn-primary" (click)="creatingIdSpace=true">
    <clr-icon shape="plus"></clr-icon>
    Add ID Space
  </button>
</div>


<form ngNativeValidate #idSpaceForm="ngForm" (submit)="save()">
  <clr-modal [(clrModalOpen)]="creatingIdSpace" [clrModalClosable]="false">
    <h3 class="modal-title" *ngIf="creatingExploration">Add ID Space</h3>
    <div class="modal-body">

      <section class="form-block">
        <div class="form-group">
          <label for="exploration-form-name" class="required">Name</label>
          <input type="text" id="exploration-form-name" name="name" [(ngModel)]="idSpace.name" required
                 pattern="[a-zA-Z0-9\s]+" title="Must be a alphanumeric" #nameIdSpace="ngModel"
          />
        </div>
      </section>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="nameIdSpace.invalid ">
        Ok
      </button>
    </div>
  </clr-modal>
</form>
