canvas {  
  cursor: url(assets/images/cursor.png) 12 12, auto;
  border: 1px solid #000000;
}

.container {
  display: table !important;
  width: 100%;
}

.container-move {
  display: table-cell !important;
  vertical-align: middle;
}

i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.clr-col-1 {
  width: auto;
}

.margin-row {
  margin: 1%;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
