<span class="spinner" *ngIf="!identifiers">
    Loading...
</span>
<div [hidden]="image.id == null">
  <div class="clr-row clr-justify-content-end">
    <button class="btn btn-primary" (click)="redirectToGallery()">Back</button>
  </div>
  <div class="clr-row container">
    <div class="clr-col-1 container-move">
      <button class="btn btn-link" (click)="selectedToRight = false; checkIfLocationSavedAndScrollImage()"
              [disabled]="isFirstImage">
        <i class="arrow-left"></i>
      </button>
    </div>
    <div class="clr-col-10">
      <div align="center">
        <canvas id="canvas"></canvas>
      </div>
      <div align="center" *ngIf="authenticationService.getRole() == role.ENDOSCOPIST">
        <button class="btn btn-success" (click)="save()"
                [disabled]="last_mousex == null && last_mousey == null && width==null && height==null">
          <clr-icon shape="plus"></clr-icon>
          Save
        </button>
        <button class="btn btn-primary"
                (click)="cleanCanvas(); image.polypLocation != null ? deleteLocation(image.id) : false;">
          <clr-icon shape="refresh"></clr-icon>
          Clear
        </button>
        <button class="btn btn-danger" (click)="deleting = true">
          <clr-icon shape="trash"></clr-icon>
          Remove image
        </button>
      </div>
    </div>
    <div class="clr-col-1 container-move">
      <button class="btn btn-link" (click)="selectedToRight = true; checkIfLocationSavedAndScrollImage()"
              [disabled]="isLastImage">
        <i class="arrow-right"></i>
      </button>
    </div>
  </div>

  <div *ngIf="polypRecording && authenticationService.getRole() != role.ENDOSCOPIST" class="card">
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-name">Name</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-name" readonly value="{{polypRecording.polyp.name}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-size">Size (mm)</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-size" readonly value="{{polypRecording.polyp.size}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-location">Location</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-location" readonly value="{{polypRecording.polyp.location}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-nice">NICE</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-nice" readonly value="{{polypRecording.polyp.nice}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-wasp">WASP</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-wasp" readonly value="{{polypRecording.polyp.wasp}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-lst">LST</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-lst" readonly value="{{polypRecording.polyp.lst}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-parisPrimary">PARIS</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-parisPrimary" readonly value="{{polypRecording.polyp.parisPrimary}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4" *ngIf="polypRecording.polyp.parisSecondary !== undefined">
        <label class="txt-strong" for="polyp-parisSecondary">PARIS Secondary</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8" *ngIf="polypRecording.polyp.parisSecondary !== undefined">
        <input type="text" id="polyp-parisSecondary" readonly value="{{polypRecording.polyp.parisSecondary}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <label class="txt-strong" for="polyp-histology">Histology</label>
      </div>
      <div class="col-lg-4 col-sm-8 col-xs-8">
        <input type="text" id="polyp-histology" readonly value="{{polypRecording.polyp.histology.polypType}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-4 col-xs-4" *ngIf="type">
        <label class="txt-strong" for="polyp-type">Type</label>
      </div>
      <div class="col-lg-4 col-sm-8 col-xs-8" *ngIf="type">
        <input type="text" id="polyp-type" readonly value="{{type}}"/>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4" *ngIf="dysplasingGrade">
        <label class="txt-strong" for="polyp-dyplasingGrade">Dyplasing drade</label>
      </div>

      <div class="col-lg-4 col-sm-8 col-xs-8" *ngIf="dysplasingGrade">
        <input type="text" id="polyp-dyplasingGrade" readonly value="{{dysplasingGrade}}"/>
      </div>
    </div>

    <div class="clr-row margin-row">
      <div class="col-xs-12">
        <label class="txt-strong" for="polyp-observation">Observation</label>
      </div>
      <div class="col-xs-12">
        <input type="text" id="polyp-observation" readonly value="{{polypRecording.polyp.observation}}"/>
      </div>
    </div>

  </div>

  <clr-modal [(clrModalOpen)]="definingDeletion" [clrModalClosable]="false">
    <h3 class="modal-title">Reason to delete this image</h3>
    <div class="modal-body">
      <form>
        <section class="form-block">
          <div class="form-group">
            <label for="selectToRemove">Select a reason</label>
            <div class="select">
              <select id="selectToRemove" name="selectedToRemove" required [(ngModel)]="selected">
                <option *ngFor="let option of options" [ngValue]="option" (click)="observationToRemove = null">
                  {{option}}
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="selected == 'Others'" class="form-group">
            <label for="observationToRemove">Describe the reason </label>
            <input type="text" id="observationToRemove" name="observationToRemove" [(ngModel)]="observationToRemove"/>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-danger-outline" (click)="remove()"
              [disabled]="(!observationToRemove && selected == 'Others') || selected == null">Delete
      </button>
    </div>
  </clr-modal>

  <app-delete-confirmation *ngIf="deleting" [modelName]="'image'" [id]="image.id"
                           [name]="'this image'" [cancel]="cancel.bind(this)" [delete]="delete.bind(this)"
  >
  </app-delete-confirmation>

  <clr-modal [(clrModalOpen)]="warningMessage" [clrModalClosable]="false">
    <h3 class="modal-title">Warning</h3>
    <div class="modal-body">
      The polyp location has not been saved. Are you sure you want to continue?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="warningMessage = false;">Cancel</button>
      <button type="button" class="btn btn-danger-outline" (click)="warningMessage = false; toLeftOrToRight()">
        Continue
      </button>
    </div>
  </clr-modal>

</div>





