<span class="spinner" *ngIf="!identifiers">
    Loading...
</span>
<div [hidden]="image.id == null">
  <div class="clr-row clr-justify-content-end">
    <a class="btn btn-success" id="download-image-button" download="{{getFileName()}}"
       href="{{canvas.toDataURL()}}">Download</a>
    <button class="btn btn-primary" (click)="redirectToGallery()">Back</button>
  </div>
  <div class="clr-row">
    <div class="clr-col-1 clr-align-self-center" align="center">
      <button class="btn btn-link" (click)="selectedToRight = false; checkIfLocationSavedAndScrollImage()"
              [disabled]="isFirstImage || isLoading">
        <i class="arrow-left"></i>
      </button>
    </div>
    <div class="clr-col-10">
      <div align="center">
        <canvas id="canvas"></canvas>
      </div>
    </div>
    <div class="clr-col-1 clr-align-self-center" align="center">
      <button class="btn btn-link" (click)="selectedToRight = true; checkIfLocationSavedAndScrollImage()"
              [disabled]="isLastImage || isLoading">
        <i class="arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="clr-row clr-justify-content-center">
    <div *ngIf="authenticationService.getRole() == role.ENDOSCOPIST">
      <button *ngIf="image.polyp != null" class="btn btn-success" (click)="save()"
              [disabled]="(last_mousex == null && last_mousey == null && width==null && height==null) ||  isLoading || !showPolypLocation">
        <clr-icon shape="plus"></clr-icon>
        Save
      </button>
      <button *ngIf="image.polyp != null" class="btn btn-primary"
              (click)="image.polypLocation != null ? this.warningMessageRemovingLocation = true : cleanCanvas();"
              [disabled] = "isLoading || !showPolypLocation">
        <clr-icon shape="refresh"></clr-icon>
        Clear
      </button>
      <button class="btn btn-danger btn-remove" (click)="deleting = true" [disabled] = "isLoading">
        <clr-icon shape="trash"></clr-icon>
        Remove image
      </button>
    </div>
  </div>

  <div *ngIf="image.polyp != null && authenticationService.getRole() != role.ENDOSCOPIST" class="card">
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-name">Name</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-name" readonly value="{{image.polyp.name}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-size">Size (mm)</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-size" readonly value="{{image.polyp.size}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-location">Location</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-location" readonly value="{{image.polyp.location}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-nice">NICE</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-nice" readonly value="{{image.polyp.nice}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-wasp">WASP</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-wasp" readonly value="{{image.polyp.wasp}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-lst">LST</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-lst" readonly value="{{image.polyp.lst}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-3 col-xs-4">
        <label class="txt-strong" for="polyp-parisPrimary">PARIS</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8">
        <input type="text" id="polyp-parisPrimary" readonly value="{{image.polyp.parisPrimary}}"/>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-4" *ngIf="image.polyp.parisSecondary !== undefined">
        <label class="txt-strong" for="polyp-parisSecondary">PARIS Secondary</label>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-8" *ngIf="image.polyp.parisSecondary !== undefined">
        <input type="text" id="polyp-parisSecondary" readonly value="{{image.polyp.parisSecondary}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-4 col-xs-4">
        <label class="txt-strong" for="polyp-histology">Histology</label>
      </div>
      <div class="col-lg-4 col-sm-8 col-xs-8">
        <input type="text" id="polyp-histology" readonly value="{{image.polyp.histology.polypType}}"/>
      </div>
    </div>
    <div class="clr-row margin-row">
      <div class="col-lg-2 col-sm-4 col-xs-4" *ngIf="type">
        <label class="txt-strong" for="polyp-type">Type</label>
      </div>
      <div class="col-lg-4 col-sm-8 col-xs-8" *ngIf="type">
        <input type="text" id="polyp-type" readonly value="{{type}}"/>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-4" *ngIf="dysplasingGrade">
        <label class="txt-strong" for="polyp-dyplasingGrade">Dyplasing drade</label>
      </div>

      <div class="col-lg-4 col-sm-8 col-xs-8" *ngIf="dysplasingGrade">
        <input type="text" id="polyp-dyplasingGrade" readonly value="{{dysplasingGrade}}"/>
      </div>
    </div>

    <div class="clr-row margin-row">
      <div class="col-xs-12">
        <label class="txt-strong" for="polyp-observation">Observation</label>
      </div>
      <div class="col-xs-12">
        <input type="text" id="polyp-observation" readonly value="{{image.polyp.observation}}"/>
      </div>
    </div>

  </div>

  <clr-modal [(clrModalOpen)]="definingDeletion" [clrModalClosable]="false">
    <h3 class="modal-title">Reason to delete this image</h3>
    <div class="modal-body">
      <form>
        <section class="form-block">
          <div class="form-group">
            <label for="selectToRemove">Select a reason</label>
            <div class="select select-style">
              <select id="selectToRemove" name="selectedToRemove" required [(ngModel)]="selected">
                <option *ngFor="let option of options" [ngValue]="option" (click)="observationToRemove = null">
                  {{option}}
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="selected == 'Others'" class="form-group">
            <label for="observationToRemove">Describe the reason </label>
            <div class="autocomplete">
            <input type="text" id="observationToRemove" (keyup)="searchObservations($event)" name="observationToRemove"
                   [(ngModel)]="observationToRemoveStartsWith" autocomplete="off"/>
            <div *ngIf="!observationToRemove" class="autocomplete-items">
              <input class="inputAutocomplete" value="{{observation}}" *ngFor="let observation of observationsFound"
                     (click)="selectedObservationToRemove(observation)" readonly
              />
            </div>
            </div>
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-danger-outline" (click)="remove()"
              [disabled]="(!observationToRemove && selected == 'Others') || selected == null">Delete
      </button>
    </div>
  </clr-modal>

  <app-delete-confirmation *ngIf="deleting" [modelName]="'image'" [id]="image.id"
                           [name]="'this image'" [cancel]="cancel.bind(this)" [delete]="delete.bind(this)"
  >
  </app-delete-confirmation>

  <clr-modal [(clrModalOpen)]="warningMessageWithoutSavingLocation" [clrModalClosable]="false">
    <h3 class="modal-title">Warning</h3>
    <div class="modal-body">
      The polyp location has not been saved. Are you sure you want to continue?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="warningMessageWithoutSavingLocation = false;">Cancel
      </button>
      <button type="button" class="btn btn-danger-outline"
              (click)="warningMessageWithoutSavingLocation = false; toLeftOrToRight()">
        Continue
      </button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="warningMessageRemovingLocation" [clrModalClosable]="false">
    <h3 class="modal-title">Warning</h3>
    <div class="modal-body">
      <div class="modal-body">
        The polyp location will be removed. Are you sure you want to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="warningMessageRemovingLocation = false;">Cancel</button>
        <button type="button" class="btn btn-success-outline"
                (click)="warningMessageRemovingLocation = false; cleanCanvas()">Only clear
        </button>
        <button type="button" class="btn btn-danger-outline"
                (click)="warningMessageRemovingLocation = false; removeLocationAndCleanCanvas(); ">
          Discard Location
        </button>
      </div>
    </div>
  </clr-modal>


</div>





