<clr-main-container>
  <clr-header>
    <div class="branding">
      <div class="title">PIBA</div>
    </div>
    <div class="header-actions">
      <a *ngIf="authenticationService.getUser().authenticated == true" class="nav-link nav-icon" (click)="getProfile()">
        <clr-icon shape="user"></clr-icon>
      </a>
      <a *ngIf="authenticationService.getUser().authenticated == true" class="nav-link nav-icon" (click)="logOut()">
        <clr-icon shape="logout"></clr-icon>
      </a>
    </div>
  </clr-header>

  <div class="content-container">
    <div #contentArea class="content-area">
      <router-outlet></router-outlet>
    </div>

    <nav class="sidenav" [clr-nav-level]="1" *ngIf="authenticationService.getUser().authenticated == true">
      <section class="sidenav-content">
        <a class="nav-link " routerLink="/explorations">Explorations</a>
        <a class="nav-link" routerLink="/patients">Patients</a>
        <a class="nav-link " routerLink="/idspace" *ngIf="authenticationService.getRole() == role.ADMIN">ID
          Spaces</a>
        <a class="nav-link " routerLink="/users" *ngIf="authenticationService.getRole() == role.ADMIN">Users</a>
        <a class="nav-link " routerLink="/galleries">Galleries</a>
        <a class="nav-link " routerLink="/modifiers" *ngIf="authenticationService.getRole() == role.ADMIN">Modifiers</a>
      </section>
    </nav>
  </div>
</clr-main-container>
<simple-notifications></simple-notifications>
