<clr-main-container>
    <clr-header>
        <div class="branding">
            <div class="title">PIBA</div>
        </div>
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </clr-header>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav" [clr-nav-level]="1">
            <section class="sidenav-content">
                <a class="nav-link active" routerLink="/explorations" routerLinkActive="active">Explorations</a>
                
                <section class="nav-group">
                    <input id="nav-patients" type="checkbox"/>
                    <label for="nav-patients">Patients</label>
                    <ul class="nav-list">
                        <a class="nav-link" routerLink="/patients" routerLinkActive="active">List patients</a>
                        <a class="nav-link" routerLink="/patients" routerLinkActive="active">+ New patient</a>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</clr-main-container>