.video-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.input-timer {
  width: 40%;
}

.tab-container {
  margin-top: 1%;
}

.polyprecordings-container {
  width: 98%;
}

.btn-back {
  margin-right: 1.75%;
  margin-left: auto;
}
