<div class="row">
  <button type="button" *ngIf="this.video !== undefined" class="btn-back btn btn-primary"
          routerLink="/explorations/{{this.video.exploration}}">
    Back
  </button>
</div>

<div class="row video-container" *ngIf="video != null">
  <app-video (currentTime)="onCurrentTimeUpdate($event)" (mouseInProgress)="mouseInProgress($event)"
             (doSnapshot)="getSnapshot()">
    <source *ngFor="let source of video.sources" src="{{source.url}}" type="{{source.mediaType}}"/>
    <p>Your browser does not support the video tag.</p>
  </app-video>
</div>

<div class="clr-row video-container col-xs-12" id="legend-checkbox-container">
  <div class="clr-row legends-container">
    <div class="square polyp-square"></div>
    <label>Polyp</label>
    <div class="square modification-square"></div>
    <label>Modification</label>
    <div class="square polyp-modification-square"></div>
    <label>Polyp-Modification</label>
  </div>
  <div class="clr-row checkboxes-container">
    <clr-checkbox [(clrChecked)]="showPolyp">
      Show polyp
    </clr-checkbox>
    <clr-checkbox [(clrChecked)]="showModification">
      Show modification
    </clr-checkbox>
  </div>
</div>

<clr-tabs *ngIf="video != null">
  <clr-tab>
    <button clrTabLink id="Polyps">Polyps</button>
    <clr-tab-content *clrIfActive="true">

      <div class="tab-container">
        <app-video-polyp [video]="video" [currentTime]="currentTime" [moveProgress]="moveProgress"
                                [timesAreCorrect]="timesAreCorrect"
                                [playInterval]="playInterval"
                                [startInterval]="startInterval" [endInterval]="endInterval"
                                [transformToTimePipe]="transformToTimePipe"></app-video-polyp>
      </div>

    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Modifications</button>
    <clr-tab-content *clrIfActive>

      <div class="tab-container">
        <app-video-modification [video]="video" [currentTime]="currentTime" [moveProgress]="moveProgress"
                                [timesAreCorrect]="timesAreCorrect"
                                [playInterval]="playInterval"
                                [startInterval]="startInterval" [endInterval]="endInterval"
                                [transformToTimePipe]="transformToTimePipe"
                                (videoModifications)="videoModificationsUpdate($event)"></app-video-modification>
      </div>

    </clr-tab-content>
  </clr-tab>
</clr-tabs>

<!-- Snapshot modal -->
<clr-modal [(clrModalOpen)]="openSnapshotModal" [clrModalClosable]="false">
  <h3 class="modal-title">Save snapshot</h3>
  <div class="modal-body">
    <div>
      <canvas #canvas id="canvas" class="snapshot-canvas"></canvas>
    </div>

    <div *ngIf="authenticationService.getRole() == role.ENDOSCOPIST" class="margin-top-gallery clr-row">
      <label for="snapshot-form-gallery" class="col-xs-3">Gallery <span
        class="required-gallery">*</span></label>
      <clr-dropdown class="col-xs-9 col-sm-6">
        <input type="text" clrDropdownTrigger id="snapshot-form-gallery" [(ngModel)]="galleryInput"
               name="galleryInput" autocomplete="off"
               #galleryValue="ngModel" placeholder="Search gallery"/>
        <clr-dropdown-menu *clrIfOpen class="clr-dropdown">
          <button *ngIf="(galleries | dropdownFilter:galleryInput)?.length === 0" type="button" class="btn"
                  disabled>No matches found
          </button>
          <div *ngFor="let i of galleries | dropdownFilter:galleryInput">
            <button type="button" clrDropdownItem (click)="selectGallery(i)">{{i.title}}
            </button>
          </div>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

    <div *ngIf="authenticationService.getRole() == role.ENDOSCOPIST" class="clr-row">
      <label for="snapshot-form-polyp" class="col-xs-3">Polyp</label>
      <clr-dropdown class="col-xs-9 col-sm-6 margin-top-polyp">
        <input type="text" clrDropdownTrigger id="snapshot-form-polyp" [(ngModel)]="polypInput"
               name="polypInput"
               autocomplete="off" #polypValue="ngModel" placeholder="Search polyp"/>
        <clr-dropdown-menu *clrIfOpen class="clr-dropdown">
          <button *ngIf="(getPolyps() | dropdownFilter:polypInput)?.length === 0" type="button" class="btn"
                  disabled>No matches found
          </button>
          <div *ngFor="let i of getPolyps() | dropdownFilter:polypInput">
            <button type="button" clrDropdownItem (click)="selectPolyp(i)">{{i.name}}
            </button>
          </div>
        </clr-dropdown-menu>
      </clr-dropdown>
      <div *ngIf="showPolypCheckbox" class="col-xs-12 col-sm-3 clr-align-self-end polyp-checkbox">
        <clr-checkbox [(clrChecked)]="showPolypsInFrame">
          Polyps in frame
        </clr-checkbox>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger-outline" (click)="discardSnapshot()">Discard snapshot
    </button>
    <button *ngIf="authenticationService.getRole() == role.ENDOSCOPIST" type="button" class="btn btn-success-outline"
            (click)="saveSnapshot()" [disabled]="galleryNonExists() || !polypIsCorrect()">
      Save to gallery
    </button>
    <a class="btn btn-info-outline" id="download-image-button" href="{{canvas.toDataURL('image/png')}}"
       (click)="discardSnapshot()" download="{{fileName}}">Download</a>
  </div>
</clr-modal>

