<div class="row video-container" *ngIf="video != null">
  <app-video (currentTime)="onCurrentTimeUpdate($event)">
    <source *ngFor="let source of video.sources" src="{{source.url}}" type="{{source.mediaType}}" />
    <p>Your browser does not support the video tag.</p>
  </app-video>
</div>

<clr-tabs *ngIf="video != null">
  <clr-tab>
    <button clrTabLink id="Polyps">Polyps</button>
    <clr-tab-content *clrIfActive="true">
      <div *ngFor="let polypRecording of video.polypRecording">
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <p>Polyp: {{polypRecording.polyp.name}} </p>
          </div>
          <div class="col-sm-3 col-md-3">
            <p>INI: {{polypRecording.start | time}}</p>
          </div>
          <div class="col-sm-3 col-md-3">
            <p>FIN: {{polypRecording.end | time}}</p>
          </div>
          <div class="col-sm-3 col-md-3">
            <button type="button" class="btn btn-secondary">
              <clr-icon shape="times"></clr-icon> Remove
            </button>
          </div>
        </div>
      </div>

      <div class="polypRecording-container">
        <form>
          <section class="form-block">

            <div class="form-group row">
              <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <label for="polyp-name">Polyp</label>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="select">
                  <select id="polyp-name" [(ngModel)]="selectedPolyp" name="selectedPolyp">
                    <option value="" disabled selected>&lt;Polyp&gt;</option>
                    <option *ngFor="let p of polyps" [ngValue]="p">{{p.name}}</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <button class="btn btn-icon" title="Add polyp" (click)="modalOpened = true">
                  <clr-icon shape="plus"></clr-icon>
                </button>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <label>INI:</label>
              </div>
              <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
                <input type="text" name="start" [(ngModel)]="start" class="input-timer" disabled/>
                <button (click)="startPolyp()" class="btn btn-icon">
                  <clr-icon shape="clock"></clr-icon>
                </button>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <label>FIN: </label>
              </div>
              <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
                <input type="text" name="end" [(ngModel)]="end" class="input-timer" disabled />
                <button (click)="endPolyp()" class="btn btn-icon">
                  <clr-icon shape="clock"></clr-icon>
                </button>
              </div>
            </div>
            <button (click)="addPolypRecording()" type="button" class="btn btn-primary">
              <clr-icon shape="plus"></clr-icon>Add
            </button>
          </section>
        </form>

        <clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'sm'">
          <h3 class="modal-title">Add polyp</h3>
          <div class="modal-body">
            <div class="form-group">
              <label for="polyp-form-name">Name</label>
              <input type="text" id="polyp-form-name" [(ngModel)]="newPolyp.name" name="name" />
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="addPolyp()">
              <clr-icon shape="plus"></clr-icon> Add
            </button>
          </div>
        </clr-modal>

      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Modifications</button>
    <clr-tab-content *clrIfActive>
      Content modifications
    </clr-tab-content>
  </clr-tab>
</clr-tabs>