<div #container class="video-container">
  <video #video>
    <ng-content></ng-content>
  </video>
  <div class="controls">
    <button class="play" aria-label="play pause toggle" (click)="playVideo()">
      <clr-icon *ngIf="!paused" shape="pause"></clr-icon>
      <clr-icon *ngIf="paused" shape="play"></clr-icon>
    </button>
    <button class="stop" aria-label="stop" (click)="stopVideo()">
      <clr-icon shape="stop"></clr-icon>
    </button>
    <div class="timer">
      <span aria-label="timer">{{currentTime | time}}</span>
    </div>
    <button class="backward" aria-label="backward" (click)="backwardVideo()">
      <clr-icon shape="rewind"></clr-icon>
    </button>
    <button class="forward" aria-label="fast forward" (click)="forwardVideo()">
      <clr-icon shape="fast-forward"></clr-icon>
    </button>
    <button class="fullscreen" aria-label="fullscreen" (click)="fullscreenVideo()">
      <clr-icon *ngIf="!fullscreen" shape="resize-up"></clr-icon>
      <clr-icon *ngIf="fullscreen" shape="resize-down"></clr-icon>
    </button>
  </div>
</div>