<form #elementRecordingForm="ngForm" ngNativeValidate>

  <div class="form-group row">
    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5">
      <label for="selectZoneType" class="required">{{elementName}}</label>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-5">
      <div class="select">
        <select id="selectZoneType" [(ngModel)]="selectedZoneType" name="selectedZoneType" required
                #selectZoneType="ngModel">
          <option *ngFor="let zoneType of sortedVideoZoneTypes" [ngValue]="zoneType">{{zoneType.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2" *ngIf="canBeCreated">
      <button type="button" class="btn btn-icon" title="Add {{elementName}}" (click)="onShowCreationDialog()">
        <clr-icon shape="plus"></clr-icon>
      </button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5">
      <label for="element-start" class="required">Start</label>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-5">
      <input id="element-start" type="text" name="start" [(ngModel)]="start" class="input-timer"
             required pattern="^[0-9]{2,}:[0-5][0-9]$" #inputStart="ngModel"/>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <button type="button" (click)="onSetCurrentAsStart()" class="btn btn-icon">
        <clr-icon shape="clock"></clr-icon>
      </button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5">
      <label for="element-end" class="required">Stop</label>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-5">
      <input id="element-end" type="text" name="end" [(ngModel)]="end" class="input-timer" required
             pattern="^[0-9]{2,}:[0-5][0-9]$" #inputEnd="ngModel"/>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <button type="button" (click)="onSetCurrentAsEnd()" class="btn btn-icon">
        <clr-icon shape="clock"></clr-icon>
      </button>
    </div>
  </div>

  <button type="submit" class="btn btn-primary"
          [disabled]="!isCurrentIntervalValid() || selectZoneType.invalid || inputStart.invalid || inputEnd.invalid"
          (click)="onCreateZone(); elementRecordingForm.submitted">
    <clr-icon shape="plus"></clr-icon>
    Add
  </button>
</form>
<button *ngIf="isEndoscopist()" class="btn btn-primary margin-confirm-button" (click)="onShowConfirmElementsDialog()"
        [disabled]="areAllElementsConfirmed()">
  <clr-icon shape="check"></clr-icon>
  Confirm all {{elementName}} recordings
</button>
<div class="elementrecordings-container">
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'element.name'" [clrDgSortOrder]="ascSort">{{elementName}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'start'">Start</clr-dg-column>
    <clr-dg-column [clrDgField]="'end'">Stop</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *clrDgItems="let element of elements">
      <clr-dg-cell>{{element.element.name}}</clr-dg-cell>
      <clr-dg-cell>{{element.start | time}}</clr-dg-cell>
      <clr-dg-cell>{{element.end | time}}</clr-dg-cell>
      <clr-dg-cell>{{element.confirmed ? 'Confirmed' : 'Not confirmed'}}</clr-dg-cell>
      <clr-dg-cell>
        <button type="button" class="btn btn-success-outline" (click)="onPlayInterval(element)">
          <clr-icon shape="play"></clr-icon>
          Play
        </button>
        <button *ngIf="!element.confirmed" type="button" class="btn btn-danger-outline"
                (click)="onShowRemoveDialog(element)">
          <clr-icon shape="times"></clr-icon>
          Remove
        </button>
        <button *ngIf="!element.confirmed && isEndoscopist()" type="button" class="btn btn-primary-outline"
                (click)="onShowConfirmElementDialog(element)">
          <clr-icon shape="check"></clr-icon>
          Confirm
        </button>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{elements.length}} {{elementName}} recording</clr-dg-footer>
  </clr-datagrid>

</div>

<!-- Add new element -->
<form #newElementForm="ngForm" (submit)="onCreateElement()" ngNativeValidate>
  <clr-modal [(clrModalOpen)]="creationModalOpened" [clrModalSize]="'sm'">
    <h3 class="modal-title">Add {{elementName}}</h3>
    <div class="modal-body">
      <div class="form-control">
        <label for="element-form-name" class="required">Name</label>
        <input type="text" id="element-form-name" [(ngModel)]="newZoneTypeName" name="name" required
               pattern="[a-zA-ZñÑ0-9_\s\(\)-]+" title="Must be a alphanumeric" #nameElement="ngModel"
        />
        <div *ngIf="nameElement.errors && !nameElement.pristine" class="alert alert-danger">
          <div *ngIf="nameElement.errors.required">Name is required.</div>
          <div *ngIf="nameElement.errors.pattern">Name can only contain letters, numbers or underscore.</div>
        </div>
        <div *ngIf="isNameAlreadyUsed()" class="alert alert-danger">This name is already being used</div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" [disabled]="isNameAlreadyUsed() || nameElement.invalid">
        <clr-icon shape="plus"></clr-icon>
        Add
      </button>
    </div>
  </clr-modal>
</form>

<!-- Delete confirmation modal -->
<app-delete-confirmation *ngIf="deleting" [modelName]="elementName.toLowerCase() + ' recording'"
                         [id]="selectedElement.id"
                         [name]="selectedElement.element.name"
                         [cancel]="clearCreationForm.bind(this)" [delete]="onDeleteElement.bind(this)">
</app-delete-confirmation>

<!-- Element recording confirmation modal -->
<app-confirmation-modal *ngIf="confirmingElementInVideoZone"
                        [title]="'Confirm ' + elementName.toLowerCase() + ' recording'"
                        [message]="'Are you sure you want to confirm this ' + elementName.toLowerCase()
                        + ' recording? <div class=\'warning\'>This action is permanent and cannot be undone.</div>'"
                        [action]="'confirm'"
                        (actionToDo)="onConfirmElement()" (cancelAction)="clearCreationForm()">
</app-confirmation-modal>

<!-- Elements recording confirmation modal -->
<app-confirmation-modal *ngIf="confirmingAllElements"
                        [title]="'Confirm ' + elementName.toLowerCase() + ' recordings'"
                        [message]="'Are you sure you want to confirm all ' + elementName.toLowerCase()
                        + ' recordings? <div class=\'warning\'>This action is permanent and cannot be undone.</div>'"
                        [action]="'confirm'"
                        (actionToDo)="onConfirmAllElements()" (cancelAction)="clearCreationForm()">
</app-confirmation-modal>
