h1 {
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    font-size: 1.4em;
    color: #678102;
    margin-left: 8px;
    margin-top: 8px;
}
a{
    color: #678102
}
a:hover{
    color: #4e5a1e;
}

.bg-nav{
    background-color: #e7e7e7; 
}

.nav-text-color{
    color: #777 !important;
}