<div class="clr-row clr-justify-content-end">
  <button type="button" class="btn btn-primary" (click)="creatingModifier=true">
    <clr-icon shape="plus"></clr-icon>
    Add Modifier
  </button>
</div>

<form ngNativeValidate #modifierForm="ngForm" (submit)="save()">
  <clr-modal [(clrModalOpen)]="creatingModifier || editingModifier" [clrModalClosable]="false">
    <h3 class="modal-title" *ngIf="creatingModifier">Add modifier</h3>
    <h3 class="modal-title" *ngIf="editingModifier">Edit modifier</h3>
    <div class="modal-body">
      <section class="form-block">
        <div class="form-group">
          <label for="modifier-form-name" class="required">Name</label>
          <input type="text" id="modifier-form-name" name="name" [(ngModel)]="modifier.name" required
                 pattern="[a-zA-ZñÑ0-9_\s\(\)-]+" title="Must be a alphanumeric" #nameModifier="ngModel"
          />
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary"
              [disabled]="nameModifier.invalid ">
        Ok
      </button>
    </div>
  </clr-modal>
</form>

<clr-datagrid>

  <clr-dg-placeholder>We couldn't find any modifier!</clr-dg-placeholder>

  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>

  <clr-dg-row *clrDgItems="let modifier of modifiers">
    <clr-dg-cell>{{modifier.name}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-link btn-icon">
        <button class="btn" (click)="edit(modifier.id)">
          <clr-icon shape="cog"></clr-icon>
          <span class="clr-icon-title">Settings</span>
        </button>
        <button class="btn" (click)="remove(modifier.id)">
          <clr-icon shape="trash"></clr-icon>
          <span class="clr-icon-title">Delete</span>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="15">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Modifiers
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<!-- Delete confirmation modal -->
<app-delete-confirmation *ngIf="deletingModifier" [modelName]="'modifier'" [id]="modifier.id" [name]="modifier.name"
                         [cancel]="cancel.bind(this)" [delete]="delete.bind(this)"
>
</app-delete-confirmation>
